* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(to left, #9ba6a5, #9ba6a5);
  margin: 0px;
}

img {
  width: 100%;
  height: 400px;
  display: block;
}

h1 {
  text-align: center;
  font-family: "Smooch", cursive;
  font-size: 60px;
  color: black;
}
header {
  margin: 0px;
}
header nav {
  background-color: grey;
  margin: auto;
  padding: auto;
  width: 100%;
}
header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

header nav ul li a {
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li a:hover {
  color: whitesmoke;
  border-radius: 2px;
  opacity: 50%;
}

section a {
  font-family: monospace;
  color: whitesmoke;
  text-decoration: none;
  margin-left: 3rem;
}

.fotos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 20px;
  align-items: flex-end;
}

footer {
  margin-top: 0px;
}
footer p {
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  text-align: center;
  margin: 0px;
  padding: 4px;
}

.info {
  text-align: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  color: whitesmoke;
}

.publicidad {
  background-color: bisque;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  animation-name: publi;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 15s;
  position: relative;
  margin: 10px;
}
.publicidad p {
  margin: auto;
  padding: auto;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
}

@keyframes publi {
  0% {
    left: 0px;
  }

  100% {
    left: 75%;
  }
}

.intro {
  text-align: center;
  font-size: 20px;
  color: bisque;
  font-family: monospace;
  font-weight: lighter;
  padding: 5px;
  width: 25%;
  margin: auto;
  transition: 2s;
}

.intro:hover {
  transform: scale(1.2);
}

#formulario {
  line-height: 60px;
  margin: auto;
  text-align: center;
  width: 50%;
  font-family: monospace;
}
input:focus {
  width: 150px;
  font-size: 24px;
  border: 5px solid black;
}
button {
  height: 40px;
  width: 100px;
  box-shadow: bisque;
  border-radius: 3px;
}

.contenedoor p,
.contenedoor h2 {
  max-width: 1000px;
}

.contenedoor {
  background-color: grey;
  width: 75%;
  margin: auto;
  transition: width 2s, height 4s;
}

.contenedoor:hover {
  width: 90%;
  background-color: cadetblue;
}

#torre {
  width: 150px;
  height: 150px;
}
#torre:hover {
  transform: rotate(360deg);
  transition: 5s ease-in;
  border-radius: 50%;
}
#arco {
  width: 150px;
  height: 150px;
}
#arco:hover {
  transform: rotate(360deg);
  transition: 5s ease-in;
  border-radius: 50%;
}
#mona {
  width: 150px;
  height: 150px;
}
#mona:hover {
  transform: rotate(360deg);
  transition: 5s ease-in;
  border-radius: 50%;
}
